.divPadding{
    padding: 10px;
}

.mainContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    width:max-content;
    background-color: greenyellow;
    border-radius: 5px;
}



.coolButton {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #718d8f inset, 0 0 0 0 #6937f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(182, 255, 10);
    transition: .15s ease-in-out;
  }
  .coolButton:hover {
    box-shadow: 0 0 10px 0 #71d9e7 inset, 0 0 10px 4px #2d09fa;
    color: #47f113;
  }